@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;300;400;500;600;800&display=swap');

:root {
  --green: #00a782;
  --dark: #0E1715;
  --white: #ffffff;
  --light-bg: #fbfaf9;
  --light-color: #a0a0a0;
  --border: .1rem solid var(var(--light-color));
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.09);
}

* {
  font-family: 'Smooch Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: .2s linear;
}

::-webkit-scrollbar {
  width: 1rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  background: var(--light-bg);
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}


/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--dark);
}

#unifaa {
  color: var(--green);
  font-weight: bold;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--dark);
}

.header .flex .navbar a:hover {
  color: var(--green);
}

.header .flex .icons>div {
  font-size: 1.6rem;
  color: var(--dark);
  cursor: pointer;
  margin-left: 1.7rem;
}

.header .flex .icons>div:hover {
  color: var(--green);
}

.header .flex .icons>div span {
  font-size: 1.5rem;
}

/* header */

/* tela cadastro */
.user-account {
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  z-index: 1100;
  background-image: url(../assets/bg-acc.png);
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-account.active {
  right: 0;
}

.user-account #close-account {
  text-align: right;
  margin-bottom: 1.5rem;
}

.user-account #close-account span {
  cursor: pointer;
  font-size: 2rem;
  color: #055d4a;
  text-decoration: underline;
}

.user-account #close-account span:hover {
  color: black;
}

.user-account .user {
  padding: 2rem;
  text-align: center;
  background-color: var(--light-bg);
  border-radius: .5rem;
  margin: 1.5rem 0;
}

.user-account .user p {
  font-size: 2.2rem;
  color: var(--dark);
}

.user-account .user p span {
  color: rgb(241, 69, 46);
}

.container {
  background-color: var(--light-bg);
  padding: 6px;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 350px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: .8rem;
  box-shadow: 0 0 7px 0 #0aba94;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 32px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #0093A6, #08e1b2);
  border-radius: .7rem;
  transition: .3s;
}

#btnSignin,
#btnSignup {
  font-size: 1.5rem;
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: .6rem;
  padding: 9px 0 9px 35px;
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: var(--green);
  font-size: 2rem;
  color:var(--white);
  border-radius: .7rem;
  width: 100%;
  outline: none;
  padding:1rem 3rem;
  font-weight: 600;
  margin-top: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}

.divCheck {
  margin: 12px 0 0 5px;
  width: 80%;
  font-size: 16px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 42px;
}

.iPassword {
  top: 121px;
}

.iPassword2 {
  top: 199px;
}

/* tela cadastro */

/* carrinho */

.shopping-cart{
  position: fixed;
  top: 0;
  right: -110%;
  width: 35rem;
  z-index: 1100;
  background-color: var(--light-bg);
  border-left: var(--border);
  height: 100vh;
  overflow-y: scroll;
}

.shopping-cart.active{
  right: 0;
}

.shopping-cart #close-cart{
  text-align: right;
  margin-bottom: 2.5rem;
}

.shopping-cart #close-cart span{
  cursor: pointer;
  font-size: 2rem;
  color: var(--green);
  text-decoration: underline;
}

.shopping-cart #close-cart span:hover{
  color: var(--dark);
}

.shopping-cart .box{
  display: flex;
  position: relative;
  align-items: center;
  gap: 1.5rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  background-color: var(--white);
  margin: 1.5rem 0;
}

.shopping-cart .box .fa-times{
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--green);
}

.shopping-cart .box img{
  width: 7rem;
}

.shopping-cart .box .content p{
  font-size: 1.9rem;
  color: var(--light-color);
}

.shopping-cart .box .content p span{
  color: var(--green);
}

.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 2rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--green);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center;
}

.head{
  display: flex;
  padding: 8% 5%;
  justify-content: center;
  align-items: center;
  background: url(../assets/home-bg.png);
}

.head .head-left-side{
  padding-left: 9%;
}

.head .head-left-side h1{
  font-size: 7rem;
  color: var(--dark);
}

.head .head-left-side p{
  max-width: 600px;
  color: var(--white);
  padding: 30px 0;
  line-height: 1.5;
  font-size: 2.4rem;
}

.head .head-right-side img{
  max-width: 70%;
  height: auto;
  margin-left: 120px;
  animation: RotateImg 50s linear infinite;
}

@keyframes RotateImg {
  100%{
    transform: rotate(360deg);
  }
}

#btn-home{
   display: block;
   border-radius: .5rem;
   padding: 1rem 2rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--dark);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center;
}

#btn-home:hover{
  background-color: #000000;
  color: var(--green);
}